@using Microsoft.VisualBasic
<div class="modal fade @(IsOpen ? "show d-block" : "")" role="dialog" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>@ModalTitle</h5>
                <button
                    @onclick="HandleDialogClose"
                    type="button" class="btn-close" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @ChildContent
            </div>


            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? ModalTitle { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    private async Task HandleDialogClose()
    {
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(IsOpen);
    }

}